<?php
    ob_start();
?>
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="gb2312">
    <title>
        <?php
                if(defined('TITLE'))
                    print TITLE;
                else
                    print "????????ҳ";
            ?>
    </title>
    <link rel="stylesheet" href="./css/2.css" type="text/css">
</head>
<body>
<div id="wrapper">
    <!-- ҳü-->
    <header>
        <!--<div class="description"><img src="./images/0.png" class="erea"></div>-->
        <h1><a href="index.php">?筸???ҳ</a> </h1>
    </header>
    <!-- ????-->
    <nav>
        <ul>
            <li><a href="/blog/index.php">??</a> </li>
            <li><a href="/blog/php/books.php">?Ʒ</a> </li>
            <li><a href="/blog/php/awards.php">???</a></li>
            <li><a href="/blog/php/family.php">??</a></li>
            <li><a href="/blog/php/pictures.php">Ӱ??</a></li>
        </ul>
    </nav>
    <!-- ???-->
    <div id="sidebar">
        <h2>??????</h2>
        <p class="news">??䲻??е????Ŀ?֣????ܼ??ŷ?????ǣ?????û??Զ??<br><em>???????</em></p>
        <p class="news">?????????,????????м,???????,??????,??????֮???ů,??????Ҳ׼?????<br><em></em></p>
        <p class="news">?ӯ?????ˮ????????İ??????????ˣ????Ҫ????????<br><em>??ϴ???</em></p>
        <p class="news">????????????????ƾ??????????Լ??????????<br><em></em></p>
        <p class="news">?????????ģ?????Լ?Ŭ????һ??ɾ???ˡ?<br><em></em></p>
        <p class="news">?????????ģ?????Լ?Ŭ????һ??ɾ???ˡ?<br><em></em></p>
        <p class="news">?????????ģ?????Լ?Ŭ????һ??ɾ???ˡ?<br><em></em></p>
        <p class="news">?????????ģ?????Լ?Ŭ????һ??ɾ???ˡ?<br><em></em></p>
        <p class="news">?????????ģ?????Լ?Ŭ????һ??ɾ???ˡ?<br><em></em></p>
        <?php
            print("??ǰʱ?䣺");
            print date('g:i a');
        ?>
    </div>
    <!--?ɱ??ݿ?ʼ-->
    <article>